html, body {
    margin: 0;
    height: 100%;
}

body {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.editor-row {
    flex-grow: 1;

    display: flex;
    flex-direction: row; /* Doesn't affect appearance at the moment, its just here for clarity */
}

.button-row {
    padding-bottom: 5px;
    padding-top: 5px;
}

#symbol-edit {
    padding-left: 10px;
}

#sheet-tab-buttons {
    display: flex;
    padding-right: 5px;
}

.tab-button {
    order: -1;
}

.size-input {
    width: 5%;
    /* margin-left: 1px; */
}

#add-sheet {
    /* margin-left: 1px; */
}

.spacer {
    flex-grow: 1;
}

#delete-sheet {
    align-self: flex-end;
}